<!--Slider-->
<div id="carouselExampleAutoplaying" class="carousel slide rounded" data-bs-ride="carousel" style="overflow: hidden; border-radius: 20px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\images\Slider\image1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\Slider\image1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\Slider\image1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Card 3 receitas-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">Receitas Deliciosas</h2>
          <p class="lead fw-normal text-muted mb-5">Encontre as receitas mais deliciosas para a sua mesa.</p>
        </div>
      </div>
    </div>
    <div class="row gx-5">
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
          <div class="card-body p-4">
            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Blog post title</h5></a>
            <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
              <div class="d-flex align-items-center">
                <a class="btn btn-primary" href="#!">Ver receita</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
          <div class="card-body p-4">
            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
            <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
              <div class="d-flex align-items-center">
                <div class="small">
                  <a class="btn btn-primary" href="#!">Ver receita</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
          <div class="card-body p-4">
            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">The last blog post title is a little bit longer than the others</h5></a>
            <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
              <div class="d-flex align-items-center">
                <div class="small">
                  <a class="btn btn-primary" href="#!">Ver receita</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">Gostaria dque escrvesse-mos uma receita para si? Envie-nos um email a solicitar, obrigado!</p></div>
    </div>



